@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}

/* ::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background: #bababa;
    border: 1px solid rgba(75, 75, 75, 0.7);
    border-radius: 4px;
} */


/* Loader */

@keyframes custom-bounce1 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* Height of the first ball's bounce */
    }
}

@keyframes custom-bounce2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
        /* Height of the second ball's bounce */
    }
}

@keyframes custom-bounce3 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-40px);
        /* Height of the third ball's bounce */
    }
}

.animate-custom-bounce1 {
    animation: custom-bounce1 0.8s infinite ease-in-out;
}

.animate-custom-bounce2 {
    animation: custom-bounce2 0.8s infinite ease-in-out;
    animation-delay: 0.2s;
    /* Delay for the second ball */
}

.animate-custom-bounce3 {
    animation: custom-bounce3 0.8s infinite ease-in-out;
    animation-delay: 0.4s;

}


/* Another Loader */
.loader-bar {
    width: 500px;
    height: 2px;
    background: linear-gradient(90deg, #007bff, #f3f3f3);
    background-size: 200% 100%;
    border-radius: 100%;
    animation: slide 1s infinite;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 200% 0%;
    }
}



/* Normal CSS */

html {
    scroll-behavior: smooth;
}